/** @page sshreleasenotes Release Notes

    @section sshv100 Ssh Module Version 1.0.0
    - initial release of the module
    - added optional @c SshListenerConfig.server_host_key_provider support for provider-backed server host keys
*/
